.party{
    display: block;
    align-items: center;
    background-image: url();
}
h1{
  font-size: 100px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #a28bb0;
}
body {
  background-image: url("https://images.wallpaperscraft.com/image/concert_crowd_people_134866_3840x2400.jpg");
}
